<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image</title>
</head>
<body>
    <center>
        <br><br>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="image" id="">
            <input type="submit" name="" id="">
        </form>
        <br>
        <% if (imagePath) { %>
            <img style="height: 500px; width: 500px;" src="<%= imagePath %>" />
            <form action="/delete" method="post">
                <input type="hidden" name="imagePath" value="<%= imagePath %>">
                <br>
                <input type="submit" value="Delete">
            </form>
            <form action="/edit" method="get">
                <input type="hidden" name="imagePath" value="<%= imagePath %>">
                <br>
                <input type="submit" value="Edit">
            </form>
        <% } %>
    </center>
</body>
</html>
